body {
  background-color: #f6f6f6;
  padding-bottom: 50px;
}

.jumbotron {
  background-color: #04112d;
  color: #f6f6f6;
  font-weight: bold;
  font-size: 3em;
}

.card-photo:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 2px lightgray;
  z-index: 1;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.manifesto {
  margin: auto;
  background-color: #04112d;
  box-sizing: border-box;
}

.row {
  justify-content: center;
}

li {
  margin: 2em 1em;
}

footer {
  text-align: center;
  margin-top: 15px;
  color: rgb(185, 185, 185);
  background-color: #04112d;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  opacity: 0.9;
  padding: 1vh 0;
  z-index: 2;
}

footer h6 {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

footer a {
  margin: 0;
}